<h1>$<%= @user.handle %></h1>
<% if signed_in? && params[:id].to_i == current_user.id %>
  <%= link_to "Edit Profile", edit_user_path(@user.id), class: "btn btn-color right" %>
<% end %>



<div class="row" id="thoughts-container">
  <h3> Now </h3>
<% @thoughts.each do |thought| %>
  <%= render partial: 'thoughts/thoughtbox',
      locals: { thought: thought } %>
<% end %>
</div>
