/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import "materialize";
 @import "font-awesome-sprockets";
 @import "font-awesome";

$body-bg:               #F8FBFD;
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              #4B3859;   // #333
$gray:                   #5764A7; // #555
$gray-light:             #A99286; // #777
$gray-lighter:           #9EA6D3; // #eee

$brand-primary:         #5C4C6A; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


$brand-accent: #9BC9EB;

nav {
  // background: -moz-linear-gradient(left, rgba(136,191,232,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(left, rgba(136,191,232,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to right, rgba(136,191,232,1) 0%,rgba(255,255,255,1) 100%);

  background-color: $body-bg;
  li {
    a {
    color: #777;
    }
  }

  .welcome-user {
    color: #555;
  }
}
.thought-form-container {
  padding-bottom: 25px;
  margin-bottom: 25px;

}

.chattr-logo {
  color: #777;
}

.row .field-with-errors {
  input[type=text]:focus {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 #000;
  }
}

.link-color {
  color: #777;
}


.profile-pic {
  width: 40px;
  height: 40px;
}

.profile-pic-lg{
  width: 200px;
  height: 200px;
}
.profile-pic-center{
  margin-top: 7px;
}
.pic-border {
  background-color: $brand-accent;
  width: 41px;
  height: 41px;
  border-radius: 50%;
}
.pic-border-lg {
  background-color: $brand-accent;
  width: 202px;
  height: 202px;
  border-radius: 50%;
}
.row {
    input[type=text]:focus {
    border-bottom: 2px solid $brand-accent;
    box-shadow: 0 1px 0 0 #777;
    }
}

body {
  background-color: $body-bg;
  label {
    color: $gray-dark;
  }
  .thought-card {
    border: solid 1px black;
    .thought-header{
      margin-bottom: 0;
      border-bottom: solid 1px $gray-lighter;
    }
  }

  .btn-color {
    background-color: $brand-accent;
    &:hover {
      background-color: $gray;
    }
  }

  .container-header {
    font-weight: lighter;
    color: $brand-accent;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: solid 1px $brand-accent;

  }
  .top-users-container {
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2%;
    margin: 0 20px;
  }
  .top-thoughts-container {
    background-color: white;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16), 0 3px 8px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2%;
    margin: 0 20px;
  }
  .no-margin {
    margin-bottom: 0;
  }
  .no-top-margin {
    margin-top: 0;
  }

  .pad-bot {
    padding-bottom: 20px;
  }
  .bottom-border {
    border-bottom: solid 1px lighten($brand-accent, 15%);
    margin-bottom: 20px;
    padding-bottom: 20px;

  }
  .pad-left {
    padding-left: 45px;
  }

  .pad-right {
    padding-right: 25px;
  }

}
.main-page {
  padding-top: 45px;
}

.hidden-form {
  display: none;
}

.user-form {

}
