

<div class="thought-card col s12 m12 l12">
  <div class="row thought-header">
    <div class="col s6 m4 l4">
      <p> <%= link_to "@#{thought.user_handle}", user_path(thought.user_id) %> </p>
    </div>

    <div class="right">
      <p> <small><%= thought.time %> </small></p>
    </div>

  </div>
  <%= link_to thought_path(thought.id) do %>
    <div class="row">
      <div class="col s12 m12 l12">
        <p> <%= thought.body %> </p>
      </div>
    </div>
  <% end %>
</div>
