
<div class="row">
  <div class="col s12 m8 l8 top-thoughts-container" id="thoughts-container">
    <h3 class="container-header"> Now </h3>
    <% @thoughts.each do |thought| %>
      <%= render partial: 'thoughtbox',
          locals: { thought: thought } %>
    <% end %>
  </div>
  <div class= "col s12 m3 l3 top-users-container" id="top-users-container">
    <h3 class="container-header center"> Top Users </h3>

      <% @top_users.each do |user| %>
        <%= render partial: 'users/userbox',
            locals: { user: user } %>
      <% end %>

  </div>
</div>
