
<div class="row">
  <div class="col s12 m8 l8" id="thoughts-container">
    <h3> Now </h3>
    <% @thoughts.each do |thought| %>
      <%= render partial: 'thoughtbox',
          locals: { thought: thought } %>
    <% end %>
  </div>
  <div class= "col s12 m4 l4" id="top-users-container">
    <h3> Top Users </h3>
    <% @top_users.each do |user| %>
      <%= render partial: 'users/userbox',
          locals: { user: user } %>
    <% end %>
  </div>
</div>
