
<% if current_user == @thought.user %>
  <%= link_to thought_path(@thought.id), method: :delete do %>
    <div class="btn btn-danger right", id="show-form"> Delete </div>
  <% end %>
<% end %>

<div class="row">
  <div class="col s12 m12 l12 top-thoughts-container" id="thoughts-container">

      <%= render partial: 'thoughts/thoughtbox',
          locals: { thought: @thought } %>

  </div>
</div>
